# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache
/.nx/workspace-data
/packages
./.vscode
pnpm-lock.yaml
/docs
/examples
.vscode
.gitignore
.prettierrc
.prettierignore
.gitignore
