{
  "singleQuote": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^react", "<THIRD_PARTY_MODULES>", "^@infinite-list/(.*)$", "^@x-oasis/(.*)$", "^[./]"],
  "importOrderSortSpecifiers": true
}
